header.masthead {
    position: relative;
    background-color: #343a40;
    background: url("media/img/keyboard.jfif") no-repeat center center;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.self_portrait {
    border-radius: 50%;
    width: 70%;
    height: auto;
    max-width: 50%;
}

nav ul {
    list-style: none;
    /* font-weight: 700; */
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

nav ul li {
    float: left;
    width: 25%;
    text-align: center;
    padding: 0.5rem 0;
    border-left: 1px gray solid;
    border-right: 1px gray solid;
}

nav ul li a {
    text-decoration: none;
}

nav ul ul {
    display: none;
    position: absolute;
    width: 25%;
}


nav ul li:hover {
    background-color: #343a40;
}
nav ul li:hover a {
    color: #fff;
}

nav ul li:hover ul {
    display: block;
    width: 25%;
    z-index: 1000;
    background-color: #515860;
}


nav ul ul li {
    width: 100%;
}

.icon {
    width: 45px;
    height: auto;
    border-radius: 10%;
}

footer .row {
    justify-content: center;
    /* This centers the columns within the row */
}

.nav-link {
    padding: 0.5rem 0;
}

.nav-link a {
    color: black;
}

.nav-link.active {
    font-weight: bold;
    background-color: #bdc1c5;
}

.nav-link.active:hover {
    font-weight: bold;
    background-color: #343a40;
}