.nav-link.active {
    font-weight: 700;
}

header.masthead {
    position: relative;
    background-color: #343a40;
    background: url("media/img/keyboard.jfif") no-repeat center center;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.self_portrait {
    width: 30%;
    height: auto;
    max-width: 50%;
}

nav ul {
    list-style: none;
    font-weight: 700;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

nav ul li {
    float:left;
    width: 25%;
    text-align: center;
    padding: 0.5rem 0;
}

nav ul li a {
    text-decoration: none;
}

nav ul ul {
    display: none;
    position: absolute;
    width: 25%;
}


nav ul li:hover {
    background-color: #343a40;
    color: #fff;
}

nav ul li:hover ul {
    display: block;
    width: 25%;
    z-index: 1000;
    background-color: #515860;
}


nav ul ul li {
    width: 100%;
}